---
filter:  haml
dirty:   true
---

%ul.tags
  - all_tags.each do |tag|
    %li
      %a{:href => "/tags/#{tag}.html"} 
        = tag

- if(@page.tag && !@page.tag.nil?)
  - articles = posts_with_tag(@page.tag)
- else
  - articles = posts

- articles.delete(@page)

- articles.each do |page|
  = render :partial => '/post', :locals => {:post => page}
