---
title:      Cosmic Cheese
created_at: 2010-01-03 16:18:53.642376 +10:00
day:        1
filter:
  - haml
tags:
  - graphic design
---
.design
  %img{:src => "/images/001.png",  :class => "design", :alt => "Cosmic Cheese", :title => "Cosmic Cheese"}