---
title:      Year of the Type
created_at: 2010-01-03 16:18:55.961217 +10:00
day:        2
filter:
  - haml
tags:
  - new year
  - cheese
---

%img{:src => "/images/002.png", :alt => "Year of the Type", :year => "Year of the Type"}