---
title:      Year of the Type
created_at: 2010-01-03 16:18:55.961217 +10:00
day:        2
filter:
  - haml
tags:
  - typography
---

.design
  %img{:src => "/images/002.png", :class => "design", :alt => "Year of the Type", :title => "Year of the Type"}