---
title:      10 Minutes to 11
created_at: 2010-01-03 22:50:02.840583 +10:00
day:        3
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/003.png", :class => "design", :alt => "10 Minutes to 11", :title => "10 Minutes to 11"}