---
title:      woman
created_at: 2010-01-05 22:19:43.802435 +10:00
day:        5
filter:
  - haml
tags:
  - logo
  - typography
---

.design
  %img{:src => "/images/005.png", :class => "design", :alt => "woman", :title => "woman"}