---
title:      leaf
created_at: 2010-01-08 00:27:21.796037 +10:00
day:        7
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/007.png", :class => "design", :alt => "leaf", :title => "leaf"}