---
title:      Want nom
created_at: 2010-01-09 16:30:55.751977 +10:00
day:        9
filter:
  - haml
  
tags:
  - graphic design
  - character
---

.design
  %img{:src => "/images/009.png", :class => "design", :alt => "Want nom", :title => "Want nom"}