---
title:      typography
created_at: 2010-01-11 13:30:03.141647 +10:00
day:        11
filter:
  - haml
tags:
  - typography
---

.design
  %img{:src => "/images/011.png", :class => "design", :alt => "typography", :title => "typography"}