---
title:      lotus
created_at: 2010-01-12 22:05:52.463497 +10:00
day:        12
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/012.png", :class => "design", :alt => "lotus", :title => "lotus"}