---
title:      pixel butterflies
created_at: 2010-01-13 22:52:58.444119 +10:00
day:        13
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/013.png", :class => "design", :alt => "pixel butterflies", :title => "pixel butterflies"}