---
title:      thing
created_at: 2010-01-14 21:59:37.430440 +10:00
day:        14
filter:
  - haml
tags:
  - graphic design
  - logo
---

.design
  %img{:src => "/images/014.png", :class => "design", :alt => "thing", :title => "thing"}