---
title:      CookieMan
created_at: 2010-01-15 23:15:47.362989 +10:00
day:        15
filter:
  - haml
tags:
  - character
  - graphic design
---

.design
  %img{:src => "/images/015.png", :class => "design", :alt => "CookieMan", :title => "CookieMan"}