---
title:      Orangmelon
created_at: 2010-01-17 22:07:45.089112 +10:00
day:        17
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/017.png", :class => "design", :alt => "Orangmelon", :title => "Orangmelon"}