---
title:      neon greeting
created_at: 2010-01-19 11:56:09.526312 +10:00
day:        19
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/019.png", :class => "design", :alt => "neon pipes", :title => "neon pipes"}