---
title:      Population Towers
created_at: 2010-01-20 14:20:05.170482 +10:00
day:        20
filter:
  - haml
tags:
  - visual data
  - typography
---

.design
  %img{:src => "/images/020.png", :class => "design", :alt => "Population Towers", :title => "Population Towers"}