---
title:      Fancy Venn
created_at: 2010-01-21 16:28:51.018604 +10:00
day:        21
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/021.png", :class => "design", :alt => "Fancy Venn", :title => "Fancy Venn"}