---
title:      Monsieur Toaster
created_at: 2010-01-24 20:39:46.635319 +10:00
day:        24
filter:
  - haml
tags:
  - graphic design
  - character
---

.design
  %img{:src => "/images/024.png", :class => "design", :alt => "Monsieur Toaster", :title => "Monsieur Toaster"}