---
title:      cling
created_at: 2010-01-25 19:05:20.933471 +10:00
day:        25
filter:
  - haml
tags:
  - typography
---

.design
  %img{:src => "/images/025.png", :class => "design", :alt => "cling", :title => "cling"}