---
title:      m
created_at: 2010-01-26 21:16:38.829500 +10:00
day:        26
filter:
  - haml
tags:
  - logo
  - typography
---

.design
  %img{:src => "/images/026.png", :class => "design", :alt => "m", :title => "m"}