---
title:      balls
created_at: 2010-01-28 16:03:12.426886 +10:00
day:        28
filter:
  - haml
tags:
  - graphic design
---
Download for Desktop
%br
%a{:href => "/images/028w2560.png"}
  2560x1600
%br
%a{:href => "/images/028w1680.png"}
  1680x1050
%br
%a{:href => "/images/028w1440.png"}
  1440x900
%br
%br
.design
  %img{:src => "/images/028.png", :class => "design", :alt => "balls", :title => "balls"}