---
title:      ribbon
created_at: 2010-01-29 09:13:07.309983 +10:00
day:        29
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/029.png", :class => "design", :alt => "ribbon", :title => "ribbon"}