---
title:      gecko
created_at: 2010-01-31 22:04:28.669303 +10:00
day:        31
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/031.png", :class => "design", :alt => "gecko", :title => "gecko"}