---
title:      I can
created_at: 2010-02-01 23:11:59.754600 +10:00
day:        32
filter:
  - haml
tags:
  - typography
---

.design
  %img{:src => "/images/032.png", :class => "design", :alt => "ican", :title => "ican"}