---
title:      help
created_at: 2010-02-02 12:24:14.038292 +10:00
day:        33
filter:
  - haml
tags:
  - graphic design
  - typography
---

.design
  %img{:src => "/images/033.png", :class => "design", :alt => "help", :title => "help"}