---
title:      fish glasses
created_at: 2010-02-04 18:45:10.458036 +10:00
day:        35
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/035.png", :class => "design", :alt => "fish glasses", :title => "fish glasses"}