---
title:      crazy waves
created_at: 2010-02-06 19:58:00.919455 +10:00
day:        37
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/037.png", :class => "design", :alt => "crazy waves", :title => "crazy waves"}