---
title:      crazy circles
created_at: 2010-02-07 16:45:20.395852 +10:00
day:        38
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/038.png", :class => "design", :alt => "crazy circles", :title => "crazy circles"}