---
title:      mask
created_at: 2010-02-08 16:18:46.453423 +10:00
day:        39
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/039.png", :class => "design", :alt => "mask", :title => "mask"}