---
title:      glass walls
created_at: 2010-02-10 19:15:43.748923 +10:00
day:        41
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/041.png", :class => "design", :alt => "glass walls", :title => "glass walls"}