---
title:      chairs
created_at: 2010-02-11 22:52:48.488651 +10:00
day:        42
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/042.png", :class => "design", :alt => "chairs", :title => "chairs"}