---
title:      swirly things
created_at: 2010-02-12 11:45:57.910999 +10:00
day:        43
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/043.png", :class => "design", :alt => "swirly things", :title => "swirly things"}