---
title:      stripes
created_at: 2010-02-13 23:22:35.748659 +10:00
day:        44
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/044.png", :class => "design", :alt => "stripes", :title => "stripes"}