---
title:      citrus
created_at: 2010-02-14 20:57:18.514784 +10:00
day:        45
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/045.png", :class => "design", :alt => "citrus", :title => "citrus"}