---
title:      wet
created_at: 2010-02-16 13:18:04.940194 +10:00
day:        47
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/047.png", :class => "design", :alt => "wet", :title => "wet"}