---
title:      mix your words
created_at: 2010-02-17 23:45:40.880940 +10:00
day:        48
filter:
  - haml
tags:
  - typography
---

.design
  %img{:src => "/images/048.png", :class => "design", :alt => "mix your words", :title => "mix your words"}