---
title:      rhino
created_at: 2010-02-18 15:16:08.828020 +10:00
day:        49
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/049.png", :class => "design", :alt => "rhino", :title => "rhino"}