---
title:      dolphin
created_at: 2010-02-19 12:23:09.136578 +10:00
day:        50
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/050.png", :class => "design", :alt => "dolphin", :title => "dolphin"}