---
title:      stairs
created_at: 2010-02-21 22:53:42.588503 +10:00
day:        52
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/052.png", :class => "design", :alt => "stairs", :title => "stairs"}