---
title:      helveticats
created_at: 2010-02-22 20:59:42.477871 +10:00
day:        53
filter:
  - haml
tags:
  - typography
---

.design
  %img{:src => "/images/053.png", :class => "design", :alt => "helveticats", :title => "helveticats"}