---
title:      paper piano
created_at: 2010-02-23 17:53:12.329308 +10:00
day:        54
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/054.png", :class => "design", :alt => "paper piano", :title => "paper piano"}