---
title:      paperclip
created_at: 2010-02-26 19:49:16.007189 +10:00
day:        57
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/057.png", :class => "design", :alt => "paperclip", :title => "paperclip"}