---
title:      7
created_at: 2010-03-01 21:42:27.567599 +10:00
day:        60
filter:
  - haml
tags:
  - typography
---

.design
  %img{:src => "/images/060.png", :class => "design", :alt => "7", :title => "7"}