---
title:      lazy sigh
created_at: 2010-03-03 01:39:29.373568 +10:00
day:        61
filter:
  - haml
tags:
  - typography
---

.design
  %img{:src => "/images/061.png", :class => "design", :alt => "lazy sigh", :title => "lazy sigh"}