---
title:      quiet monkey
created_at: 2010-03-05 00:03:10.751506 +10:00
day:        63
filter:
  - haml
tags:
  - logo
---

.design
  %img{:src => "/images/063.png", :class => "design", :alt => "quiet monkey", :title => "quiet monkey"}