---
title:      peek
created_at: 2010-03-05 23:12:22.181999 +10:00
day:        64
filter:
  - haml
tags:
  - graphic design
  - typography
  - 3D
---

.design
  %img{:src => "/images/064.png", :class => "design", :alt => "peek", :title => "peek"}