---
title:      wireframe flower
created_at: 2010-03-06 23:13:23.576604 +10:00
day:        65
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/065.png", :class => "design", :alt => "wireframe flower", :title => "wireframe flower"}