---
title:      round we go
created_at: 2010-03-07 22:17:14.987220 +10:00
day:        66
filter:
  - haml
tags:
  - graphic design
  - typography
---

.design
  %img{:src => "/images/066.png", :class => "design", :alt => "round we go", :title => "round we go"}