---
title:      balloons
created_at: 2010-03-09 21:53:54.981094 +10:00
day:        68
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/068.png", :class => "design", :alt => "balloons", :title => "balloons"}