---
title:      hello roads
created_at: 2010-03-11 22:41:42.176459 +10:00
day:        70
filter:
  - haml
tags:
  - graphic design
---

.design
  %img{:src => "/images/070.png", :class => "design", :alt => "hello roads", :title => "hello roads"}